
    <div class="page-banner overlay-dark bg-image" style="background-image: url(/one-health/assets/img/bg_image_1.jpg);">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">HAKKIMIZDA</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->

   @await Component.InvokeAsync("_AnasayfaOzellikler")  
   
   @await Component.InvokeAsync("_Hakkimizda")




  