@model List<Anasayfa>
@foreach (var item in Model)
{
 
        <div class="page-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp">
                        <h1><strong>@item.AnasayfaBaslik</strong></h1><br />
                        <p class="text-grey mb-4">@item.AnasayfaAciklama</p>
                        <a href="/Hakkimzida/Hakkimizda" class="btn btn-primary">Devamı İçin</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                        <div class="img-place custom-img-1">
                            <img src="~/one-health/assets/img/bg-doctor.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
}
