<div class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Randevu Al</h1>

        <form action="/Randevu/Randevu" method="post" class="main-form">
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    <input name="RandevuAd" type="text" class="form-control" placeholder="Adınız">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                    <input name="RandevuSoyad" type="text" class="form-control" placeholder="Soyadınız">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                    <input type="date" name="RandevuTarih" class="form-control">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                    <select name="RandevuDepartman" id="departement" class="custom-select">
                        <option value="general">Genel Sağlık</option>
                        <option value="cardiology">Kardiyoloji</option>
                        <option value="dental">K.B.B</option>
                        <option value="neurology">İç Hastalıklar</option>
                        <option value="orthopaedics">Ortopedi</option>
                    </select>
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <input name="RandevuTel" class="form-control" placeholder="Telefon Numaranız">
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <input name="RandevuMail" class="form-control" placeholder="E-mail Adresiniz">
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <textarea name="RandevuAciklama" id="message" class="form-control" rows="6" placeholder="Randevu Alma Sebebiniz"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Randevu Al</button>
        </form>
    </div>
</div>