@model List<Doktorlar> 

<div class="page-section">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp">DOKTORLARIMIZ</h1>
        <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
            @foreach (var item in Model)
            {

                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src=@item.DoktorİmgUrl alt="">
                            <div class="meta">
                                <a href=@item.DoktorFcLink><span class="mai-call"></span></a>
                                <a href=@item.DoktorFcLink><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">@item.DoktorAd @item.DoktorSoyad</p>
                            <span class="text-sm text-grey">@item.DoktorAlan</span>
                        </div>
                    </div>
                </div>


            }
        </div>
        </div>
</div>